.navbar {
  border-radius: 0;
}
.header {
  display: inline-block;
}
#toggleCbox {
  display: none;
}
#toggleCbox:checked + .sidenav {
  display: none;
}
/* input[type='checkbox'] {
  height: 30px;
  width: 30px;
  margin-left: 20px;
}
input[type='checkbox']:checked ~ #search {
  background-color: blue;
} */
